<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warnes Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="menu" class="menu">
        <a id="link-ubicaciones">Ubicaciones</a>
        <a id="link-luminarias">Luminarias</a>
    </div>
    <div id="map"></div>
    <div id="ubicaciones" class="panel-flotante">Ubicaciones</div>
    <div id="luminarias" class="panel-flotante"> </div>

    <script>
        // Datos enviados desde Flask
        const items = {{ items | tojson }};
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrGN5qq86Il9p4-athZfhTr1DHaXMOR3s"></script>

    <script src="{{ url_for('static', filename='mapa.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>