<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warnes-Map</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- MarkerCluster CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="contenedor">
        <form id="filtro-form" class="filtro-panel" method="get">
            <label class="filtro-etiqueta" for="ref_ini">Grupo de Ubicaciones</label>
            <select class="filtro-texto" name="ref_ini" id="ref_ini">
                {% for ref in referencias_mil %}
                <option value="{{ ref.id }}" {% if ref.id==ref_ini %}selected{% endif %}>{{ ref.descripcion }} </option>
                {% endfor %}
            </select>
            <label class="filtro-etiqueta" for="ref_sel">Ubicación</label>
            <select class="filtro-texto" name="ref_sel" id="ref_sel">
                <option value="">Todas</option>
                {% for ref in referencias_rango %}
                <option value="{{ ref.id }}" {% if ref_sel==ref.id %}selected{% endif %}>{{ ref.descripcion }} </option>
                {% endfor %}
            </select>
            <button class="filtro-boton" type="submit">Filtrar</button>
        </form>

        <div id="map" class="no-margin no-padding"></div>
    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- MarkerCluster JS -->
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script>
        // Datos de Python a JS
        const items = {{ items| tojson }};
        const referencias = {{ referencias| tojson }};
        // Centrar el mapa en la primera coordenada o en un punto por defecto
        const center = items.length > 0 ? [items[0].latitud, items[0].longitud] : [-17.510, -63.164];
    </script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!-- Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>