<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warnes-Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Menú -->
    <div id="menu" class="menu">
        <!-- Menú hamburguesa -->
        <button id="menu-toggle" class="menu-toggle" aria-label="Abrir menú">&#9776;</button>

        <!-- ubicaciones -->
        <div class="menu-item">
            <a id="link-ubicaciones">Ubicaciones</a>
            <div id="ubicaciones" class="panel-flotante">
                <form id="form-ubicaciones" action="" method="get">
                    <div class="form-ubicaciones">
                        <fieldset id="filtro-ubicaciones">
                            <legend>Grupo de Ubicaciones</legend>
                            <label class="ubicaciones-label">
                                <input id="ubicaciones-todos" type="checkbox" class="ubicaciones-checkbox"
                                    name="ref_mil_todos" value="on" {% if todos=="on" %}checked{% endif %}>
                                Todos
                            </label>
                            {% for ref in referencias if ref.id % 1000 == 0 %}
                            <label class="ubicaciones-label">
                                <input type="checkbox" class="ubicaciones-checkbox" name="ref_mil" value="{{ ref.id }}"
                                    {% if ref.id in ref_mil %}checked{% endif %}>
                                {{ ref.descripcion }}
                            </label>
                            {% endfor %}
                        </fieldset>
                        <fieldset id="filtro-ubicacion">
                            <legend>Ubicación</legend>
                            <div id="rango-checkboxes"></div>
                        </fieldset>
                    </div>
                    <div class="pie-ubicaciones">
                        <div>
                            <label class="fecha-label" for="fecha">Fecha</label>
                            <input class="fecha-input" type="date" id="fecha" name="fecha" value="{{ fecha }}">
                        </div>
                        <div>
                            <input class="boton boton__filtrar" type="submit" value="Filtrar" id="btn-filtrar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- luminarias -->
        <div class="menu-item">
            <a id="link-luminarias">Luminarias</a>
            <div id="luminarias" class="panel-flotante">
                <div id="luminarias__contenedor" class="luminarias__contenedor"></div>
            </div>
        </div>
        <!-- planillas -->
        <div class="menu-item">
            <a id="link-planillas">Planillas</a>
            <div id="planillas" class="panel-flotante">
                <input class="boton boton__planillas" type="button" value="Postes y Luminarias" id="link-postesLum">
                <!-- <a id="link-postesLum" href="#" class="link-planilla">Postes y Luminarias</a><br> -->
                <input class="boton boton__planillas" type="button" value="Instalación de Luminarias"
                    id="link-instalarLum">
                <!-- <a id="link-instalarLum" href="#" class="link-planilla">Instalación de Luminarias</a> -->
            </div>
        </div>
        <!-- buscar -->
        <div class="menu-item">
            <a id="link-buscar">Buscar</a>
            <div id="buscar" class="panel-flotante">
                <form id="form-buscar" action="" method="get" class="form-buscar">
                    <input type="text" class="txt-buscar" id="buscar-input" name="buscar"
                        placeholder="Id-Poste/Código-Luminaria">
                    <button class="boton" type="submit" id="btn-buscar">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div id="resultados-busqueda"></div>
            </div>
        </div>
    </div>

    <!-- Mapa -->
    <div id="map">
    </div>

    <script>
        // Datos enviados desde Flask
        const items = {{ items | tojson }};
        const luminarias = {{ luminarias | tojson }};
        const referencias = {{ referencias| tojson }};
        const vias = {{ vias| tojson }};
        const ref_mil = {{ ref_mil| tojson }};
        const ref_rango = {{ ref_rango| tojson }};
        const todos = "{{ todos or '' }}";

        // Ruta para los archivos estáticos
        const STATIC_URL = "{{ url_for('static', filename='') }}";

        // Función para obtener información de una luminaria por su ID
        function getLuminariaInfo(id) {
            return luminarias.find(l => l.id === id) || {};
        }

        // Función para obtener la descripcion de una via por su ID
        function getViaDescripcion(id) {
            return vias.find(v => v.id === id)?.descripcion || '';
        }

        // Variable para convertir el estado en texto
        const estadoLuminaria = {
            0: 'Malo',
            1: 'Bueno'
        };
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}"></script>
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>

    <script src="{{ url_for('static', filename='mapa.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='excel.js') }}"></script>
    <script src="{{ url_for('static', filename='buscar.js') }}"></script>

</body>

</html>